header {
    background: #ffffff;
    border-color: #cccccc;
    margin: 0;
}

h1 {
    background-color: #4aaaa5;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    padding: 10px;
    border: 500px;
    margin: 0 775px 0 15%;
}

h2 {
    color: #4aaaa5;
    border-bottom: 2px solid #777777;
    padding-bottom: 2%;
}

/* headerTopRight contains "About", "Portfolio", and "Contact" links that would direct users to different pages that has the same h1, headerTopRight, and footer information*/
.headerTopRight {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
}

.container {
    background: #ffffff;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    border-color: #f36363;
    margin: 0 15% 5% 15%;
}

/************* These are the CSS codes for profile-img.html ***************/
.profile-img {
    float: left;
    margin: 0 15px 0 0;
}

/************* These are the CSS codes for contact.html ***************/
form {
    width: 700px;
}

/* This is the footer of the page */
footer {
    background-color: #666666;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    border-top: 8px solid #4aaaa5;
}